body{
   background-color:  rgb(112, 112, 112);
}

p{
    text-align: center;
}
.pure-menu-link{
    color: rgb(255, 123, 0);
}
.pure-menu{
    background-color:  rgb(31, 31, 31);
}


.playerClass{
    color: orange;
}